@bar-size:60px;
@bar-bg:rgb(34,34,34);
@bar-fg:#fff;
@bar-border:rgb(34,34,34);
@bg:rgb(56,56,56);
@videoFrame-border:rgba(100,100,100,.2);
@videoPopup-border:rgba(50,50,50,1);
@jme-title-color:rgb(243,200,2);
@title-font-size:30px;
@title-font-size-paddig: 15px;

@font-face {
    font-family: 'FOO';
    src: url(fonts/foo.ttf);
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bar{
    background-color:@bar-bg;
    color:@bar-fg;
    position:fixed;
    left:0;
    width:100vw;
    height:@bar-size;
    border:none;
    -webkit-box-shadow: 0px 0px 1vh .5vh @bar-border;
    -moz-box-shadow: 0px 0px 1vh .5vh @bar-border;
    box-shadow: 0px 0px 1vh .5vh @bar-border;
    z-index:2;
}

.video_container{ 
    width:400px;
    height:350px;
    position:relative; 
    background-position:center;
    background-repeat:no-repeat;
}

.play_arrow{
    position:relative;
    left:150px;
    top:125px;
    width:100px;
    height:75px;
}

#video_frame {
    width:100%;
    height:100%;
    position:relative;
    //left:10%;
    //top:10%;
    //box-shadow: 0px 0px 10vh 0vh @videoFrame-border;
}

#video_popup{
    background-color:black;
    width:35%;
    height:40%;
    position:fixed;
    top:30%;
    left:30%;
    box-shadow: 0px 0px 10vh 0vh @videoPopup-border;
}

#video_popup_background{
    background-color:rgba(56,56,56,0.8);
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:3;
    //transition: background-color 1s,height 1s;
}

/*#videoPopupBackground:hover{
    background-color:rgba(0,0,0,0.8);
}*/

#top{   
    &:extend(.bar);
    top:0;
    border-bottom:2px solid @bar-border;  
}

#bottom{ 
    &:extend(.bar);
    bottom:0;
    border-top:2px solid @bar-border;
}

#middle{ 
    position:absolute;
    top:@bar-size;
    left:0; 
    width:100%;
    padding-bottom:@bar-size;
    min-height:100%;
    z-index:1;
    background-color:@bg;
}

#title{
    position:absolute;
    top:50%;
    left:2%;
    font-size: @title-font-size;
    margin-top:-@title-font-size-paddig;
    font-family:'FOO';
    color:@jme-title-color;
    white-space:nowrap;
}

#title:first-letter{
    text-transform: uppercase;
}

