<div id="top">
    <div class="w-lim">
            <div id='title'>Community WiP Gallery</div>
    </div>
</div>
<div id="current_date">
    <div class="w-lim">
        <div id="left_arrow"><i class="fa fa-chevron-left"></i></div>
        <span id="current_date_text"></span>
        <div id="right_arrow"><i class="fa fa-chevron-right"></i></div>
    </div>
</div>
<div id="middle">
    <div id="container" class="w-lim">
    
    </div>
</div>
<div id="bottom">

</div>

<div id="fullscreen_view">
    <div id="halign">
        <div id="halign-cell">
            <div>
                <div id="fullscreen_view_frame"></div>
            </div>
        </div>
    </div>
</div>